
{{#each Weblogs}}
  <div class="card border">
      <div class="card-header border">
          <div class=""><h5 class="card-title"><a href="#" id="postTitle">{{title}}</a></h5></div>
          <div class="">Posted by: {{username}} on {{createdAt}}</div>
      </div>
      <div class="card-body text">
          <p class="card-text" id="postTexts">{{content}}</p>
      </div>
  </div>

  <form id="updateForm" style="display: none;">
      <input id="updateTitle" value="{{title}}">
      <textarea id="updateText">{{content}}</textarea>
      <button class="updateBtn">Update</button>
    {{!-- <button type="click" id="updateWeblogBtn">Update</button> --}}
    {{!-- <button type="click" id="removeWeblogBtn">Delete</button> --}}
  </form>
{{/each}}

<form id="createWeblogForm" style="display: none;">
    <input type="text" id="weblogTitle" placeholder="Title">
    <textarea id="weblogContent" placeholder="Content"></textarea>
    <button type="submit" id="createWeblogBtn">Create</button>
</form>
<button type="click" class="btn btn-primary" id="showFormBtn">+ New Post</button>


<script src="/js/dashboard.js"></script>
<script src="/js/update.js"></script>
