<div class="">
    <div class="">
        <div class="">
            {{#each allWeblogs}}
            <div class="card border">
                <div class="card-header border">
                    <div class=""><h5 class="card-title"><a href="post/{{id}}">{{title}}</a></h5></div>
                    <div class="">Posted by: {{User.Username}} on {{User.createdAt}}</div>
                </div>
                <div class="card-body text">
                    <p class="card-text">{{text}}</p>
                </div>
            </div>
            <br>
            {{/each}}
        </div>
    </div>
</div>


<div class="">
  <div class="">
    <div class="">
      <form class="newWeblogForm hidden">
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input class="form-control" id="weblogTitle">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label">Content</label>
          <textarea class="form-control" id="weblogText"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="newWeblogBtn"></button>
      </form>
      <button type="submit" class="btn btn-primary" id="newWeblog">+ New Post</button>
    </div>
  </div>
</div>

<script src="/public/js/dashboard.js"></script>
