
{{#each allWeblogs}}
  <div class="card border">
      <div class="card-header border">
          <div class=""><h5 class="card-title"><a href="#" id="weblogTitle" class="comment-link" data-weblog-id="{{id}}">{{title}}</a></h5></div>
          <div class="">Posted by: {{User.username}} on {{createdAt}}</div>
      </div>
      <div class="card-body text">
          <p class="card-text" id="postTexts">{{content}}</p>
      </div>
  </div>

    <form id="commentForm" style="display:none;">
        <textarea id="addComment" rows="3"></textarea>
        <button id="commentBtn">Submit</button>
    </form>

        <div id="weblogComments">
            {{#each allWeblogs.comments}}
                <div class="">
                    {{text}} 
                
                    posted by: {{User.username}} @ {{createdAt}}
                </div>
            {{/each}}
        </div>
        
    </div>
{{/each}}

<script src="/js/comment.js"></script>

